:root {
  --gray: rgba(162, 160, 160, 0.50);
  
  --white: hsl(0, 0%, 100%);
  --white-100: hsl(0, 0%, 90%);
  --white-200: hsl(0, 0%, 80%);
  --white-300: hsl(0, 0%, 70%);
  --white-400: hsl(0, 0%, 60%);
  --white-500: hsl(0, 0%, 50%);

  --black: hsl(342, 21%, 9%);
  --black-100: hsl(342, 21%, 19%);
  --black-200: hsl(342, 21%, 29%);
  --black-300: hsl(342, 21%, 39%);
  --black-400: hsl(342, 21%, 49%);
  --black-500: hsl(342, 21%, 59%);

  --stone: hsl(127, 16%, 89%);
  --stone-100: hsl(127, 16%, 79%);
  --stone-200: hsl(127, 16%, 69%);
  --stone-300: hsl(127, 16%, 59%);
  --stone-400: hsl(127, 16%, 49%);
  --stone-500: hsl(127, 16%, 39%);
  
  --red: hsl(358, 83%, 38%);
  --red-100: hsl(358, 83%, 48%);
  --red-200: hsl(358, 83%, 58%);
  --red-300: hsl(358, 83%, 68%);
  --red-400: hsl(358, 83%, 78%);
  --red-500: hsl(358, 83%, 88%);
  
  --orange: hsl(23, 100%, 50%);
  --orange-100: hsl(23, 100%, 60%);
  --orange-200: hsl(23, 100%, 70%);
  --orange-300: hsl(23, 100%, 80%);
  --orange-400: hsl(23, 100%, 90%);
  --orange-500: hsl(23, 100%, 100%);

  --brown: hsl(23, 99%, 36%);
  --brown-100: hsl(23, 99%, 46%);
  --brown-200: hsl(23, 99%, 56%);
  --brown-300: hsl(23, 99%, 66%);
  --brown-400: hsl(23, 99%, 76%);
  --brown-500: hsl(23, 99%, 86%);
  
  --yellow: hsl(48, 100%, 58%);
  --yellow-100: hsl(48, 100%, 48%);
  --yellow-200: hsl(48, 100%, 38%);
  --yellow-300: hsl(48, 100%, 28%);
  --yellow-400: hsl(48, 100%, 18%);
  --yellow-500: hsl(48, 100%, 8%);
  
  --beige: hsl(36, 55%, 81%);
  --beige-100: hsl(36, 55%, 71%);
  --beige-200: hsl(36, 55%, 61%);
  --beige-300: hsl(36, 55%, 51%);
  --beige-400: hsl(36, 55%, 41%);
  --beige-500: hsl(36, 55%, 31%);
}